<div class="row">
    <div class="col-xs-10">
        <form (ngSubmit)="onAdd()" [formGroup]="shoppingForm">
            <div class="div">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name" >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" formControlName="amount">
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit" [disabled]="!shoppingForm.valid" >{{editMode? 'Update' : 'Add'}}</button>
                        <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
                        <button class="btn btn-primary" type="button" (click)="this.shoppingForm.reset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="col-xs-2">
      <div [@divState]="state" style="width: 100px; height: 100px;">

      </div>
      <br>
      <div [@wildstate]="wildState" style="width: 100px; height: 100px;">

      </div>
    </div> -->

</div>

